@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262 60% 85%;      /* violet extérieur */
    --foreground: 231 30% 16%;
    --border: 240 20% 90%;
    --radius: 1rem;
  }

  body {
    background-color: #D6C6F7;
    color: #1F2338;
  }
}